{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
metadata:
  name: {{ template "kyverno-authz-server.name" . }}
  labels:
    {{- include "kyverno.lib.labels.merge" (list
      (include "kyverno.lib.labels.common" $)
      (include "kyverno.lib.labels.common.selector" $)
      (include "kyverno.lib.labels.component" "authz-server")
    ) | nindent 4 }}
rules:
- apiGroups:
  - policies.kyverno.io
  resources:
  - validatingpolicies
  verbs:
  - get
  - list
  - watch
{{- end -}}
