{{- with .Values.validatingWebhookConfiguration.certificates.static -}}
{{- $name := (include "validation-webhook.name" $) }}
{{- $namespace := (include "kyverno.lib.namespace" $) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}
  namespace: {{ $namespace }}
  labels:
    {{- include "validation-webhook.labels" $ | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: {{ .crt | b64enc }}
  tls.key: {{ .key | b64enc }}
{{- end }}
