{{- if .Values.rbac.create -}}
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "kyverno-authz-server.name" . }}
  labels:
    {{- include "kyverno.lib.labels.merge" (list
      (include "kyverno.lib.labels.common" $)
      (include "kyverno.lib.labels.common.selector" $)
      (include "kyverno.lib.labels.component" "authz-server")
    ) | nindent 4 }}
roleRef:
  kind: ClusterRole
  name: {{ template "kyverno-authz-server.name" . }}
subjects:
  - kind: ServiceAccount
    name: {{ template "kyverno-authz-server.service-account.name" . }}
    namespace: {{ template "kyverno.lib.namespace" . }}
{{- end -}}
