# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: KO publish

permissions: {}

on:
  push:
    branches:
    - main

jobs:
  ko-publish:
    permissions:
      contents: write
      id-token: write
      packages: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - name: Setup Go
      uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
    - name: Install Ko
      uses: ko-build/setup-ko@3aebd0597dc1e9d1a26bcfdb7cbeb19c131d3037 # v0.7
    - name: Run ko
      run: |
        set -e
        KO_REGISTRY=ghcr.io/kyverno/kyverno-envoy-plugin make publish-ko
