# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Tests

permissions: {}

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: Run tests
        run: |
          set -e
          make tests
      - name: Upload coverage
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: coverage.out
          path: coverage.out
          retention-days: 1
          if-no-files-found: error

  upload-to-codecov:
    needs:
      - unit-tests
    runs-on: ubuntu-latest
    steps:
      - name: Download coverage
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: coverage.out
      - name: Upload Report to Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        with:
          files: ./coverage.out
          fail_ci_if_error: true
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  prepare-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: Save image archive
        shell: bash
        run: |
          set -e
          make ko-build
          make docker-save-image
      - name: Upload image archive
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: image.tar
          path: image.tar
          retention-days: 1
          if-no-files-found: error

  e2e-sidecar-injector:
    runs-on: ubuntu-latest
    needs: [ prepare-images ]
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: Install helm
        id: helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0
      - name: Install cosign
        uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # v3.9.2
      - name: Install chainsaw
        uses: kyverno/action-install-chainsaw@f2b47b97dc889c12702113753d713f01ec268de5 # v0.2.12
        with:
          verify: true
      - name: Download image archive
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: image.tar
      - name: Create kind cluster
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0
        with:
          node_image: kindest/node:v1.29.2
          cluster_name: kind
      - name: Load image archive
        run: |
          set -e
          make kind-load-archive
      - name: Setup istio
        run: |
          set -e
          export HELM=${{ steps.helm.outputs.helm-path }}
          KYVERNO_AUTHZ_SERVICE=kyverno-authz-server.local make install-istio
      - name: Setup cert-manager
        run: |
          set -e
          export HELM=${{ steps.helm.outputs.helm-path }}
          make install-cert-manager install-cluster-issuer
      - name: Install chart
        run: |
          set -e
          export HELM=${{ steps.helm.outputs.helm-path }}
          make deploy-kyverno-sidecar-injector
      - name: Run Chainsaw Tests
        run: chainsaw test tests/e2e/sidecar-injector

  e2e-authz-server:
    runs-on: ubuntu-latest
    needs: [ prepare-images ]
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: Install helm
        id: helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0
      - name: Install cosign
        uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # v3.9.2
      - name: Install chainsaw
        uses: kyverno/action-install-chainsaw@f2b47b97dc889c12702113753d713f01ec268de5 # v0.2.12
        with:
          verify: true
      - name: Download image archive
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: image.tar
      - name: Create kind cluster
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0
        with:
          node_image: kindest/node:v1.29.2
          cluster_name: kind
      - name: Load image archive
        run: |
          set -e
          make kind-load-archive
      - name: Setup istio
        run: |
          set -e
          export HELM=${{ steps.helm.outputs.helm-path }}
          KYVERNO_AUTHZ_SERVICE=kyverno-authz-server.kyverno.svc.cluster.local make install-istio
      - name: Setup cert-manager
        run: |
          set -e
          export HELM=${{ steps.helm.outputs.helm-path }}
          make install-cert-manager install-cluster-issuer
      - name: Install chart
        run: |
          set -e
          export HELM=${{ steps.helm.outputs.helm-path }}
          make deploy-kyverno-authz-server
      - name: Install sample app
        run: |
          set -e
          kubectl create ns app
          kubectl label namespace app istio-injection=enabled
          kubectl apply -f https://raw.githubusercontent.com/istio/istio/release-1.24/samples/httpbin/httpbin.yaml -n app
          kubectl patch deploy httpbin -n app --type=merge -p='{
            "spec": {
              "template": {
                "metadata": {
                  "labels": {
                    "ext-authz": "enabled"
                  }
                }
              }
            }
          }'
      - name: Run Chainsaw Tests (authz-server)
        run:  |
          set -e
          chainsaw test tests/e2e/authz-server
      - name: Run Chainsaw Tests (validation-webhook)
        run:  |
          set -e
          chainsaw test tests/e2e/validation-webhook

  required:
    needs:
      - e2e-authz-server
      - e2e-sidecar-injector
    runs-on: ubuntu-latest
    steps:
      - run: ${{ true }}
